<?xml version="1.0" encoding="UTF-8"?>
<plugin
        version="25.06.25"
        xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="Useful custom directives for injection."
        name="UCSD - Useful Directives"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
    <publisher name="Alec McLeran">
        <contact email="mclerana@urbandaleschools.com"/>
    </publisher>
</plugin>